.browseTile .truncate {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.browseTile {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.browseTile img {
  width: 200px;
  height: 300px;
  object-fit: contain;
}

.browseTile .title {
  font: 1.03em sans-serif;
  position: relative;
}

.browseTile .title:hover .tooltip {
  visibility: visible;
}

.browseTile .price {
  font: 1.03em sans-serif;
  color: red;
}
